<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <perspective>
            <theme23expart4>
                <title>test</title>
            </theme23expart4>
        </perspective>
    </default>
</config>